<div class="coral-Form-fieldwrapper"><label id="label_52cef9cc-41d2-48b6-93a8-a2fefd507f11"
    class="coral-Form-fieldlabel">Type</label><span class="coral-Form-field coral-Select" data-init="select"
    data-collision="none">
    <button type="button" class="coral-Select-button coral-MinimalButton" id="coral-6" aria-haspopup="true"
      aria-expanded="false" data-toggle="selectlist" data-target="#coral-5" role="combobox" aria-owns="coral-5">
      <span class="coral-Select-button-text" id="coral-11">Download</span>
    </button>
    <select value="Download" multiple name="./type" class="coral-Select-select coral-Select-select--native"
      aria-labelledby="label_52cef9cc-41d2-48b6-93a8-a2fefd507f11" data-validation="" tabindex="-1" aria-hidden="true"
      style="height: 38px;">
      <option>Download</option>
      <option>Link</option>
      <option>Add</option>
    </select>
    <ul class="coral-SelectList is-below" id="coral-5" role="listbox" aria-hidden="true" tabindex="-1"
      aria-controls="coral-6" style="top: 37px; left: 0px;">
      <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Download" aria-selected="false"
        role="option" id="coral-7">Download</li>
      <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Link" aria-selected="false"
        role="option" id="coral-8">Link</li>
      <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Add" aria-selected="false"
        role="option" id="coral-9">Add</li>
    </ul><input type="hidden" name="./type@Delete">
  </span></div>