<div class="heroBanner-welcome" data-sly-use.slides="it.codeland.heritier.core.models.Carousel">
  <div class="heroBanner__main container-fixed">
    <div class="heroBanner__container swiper-container">
      <div class="heroBanner__wrapper swiper-wrapper">
        <!-- TYPE 1 -->
        <sly data-sly-list.item="${slides.childComponents}">
          <div data-sly-test="${item.desktopImagePath && item.mobileImagePath && item.title && item.type=='welcome'}"
            class="heroBanner__slide heroBanner__slide--type1 heroBanner__slide--video gradient gradient--type-one swiper-slide"
            data-bg="${item.desktopImagePath}" data-bg-mobile="${item.mobileImagePath}">
            <!-- ##############  logo mask    -->
            <sly data-sly-test="${item.logo=='black'}">
              <div class="hero__mask text--subtitle" data-mask="light">
                <img class="mask__logo"
                  src="/apps/ucs-exercise-heritier/clientlibs/clientlib-base/images/Logo_Black.svg" alt="logo__mask" />
              </div>
            </sly>

            <sly data-sly-test="${item.logo=='white'}">
              <div class="hero__mask text--subtitle" data-mask="dark">
                <img class="mask__logo"
                  src="/apps/ucs-exercise-heritier/clientlibs/clientlib-base/images/Logo_white.svg" alt="logo__mask" />
              </div>
            </sly>



            <!-- ##############end of   logo mask -->


            <div class="hero container">
              <div class="hero__title text--headline">
                ${item.title @context="html"}
              </div>
              <p class="hero__subtitle text--body">
                ${item.subtitle}
              </p>
            </div>
          </div>
        <!-- TYPE 2 -->
        <div data-sly-test="${item.desktopImagePath && item.mobileImagePath && item.title && item.type=='article'}" class="heroBanner__slide heroBanner__slide--type2 gradient gradient--type-two swiper-slide"
        data-bg="${item.desktopImagePath}" data-bg-mobile="${item.mobileImagePath}">
        <!-- ##############  logo mask    -->
        <sly data-sly-test="${item.logo=='black'}">
          <div class="hero__mask text--subtitle" data-mask="light">
            <img class="mask__logo"
              src="/apps/ucs-exercise-heritier/clientlibs/clientlib-base/images/Logo_Black.svg" alt="logo__mask" />
          </div>
        </sly>

        <sly data-sly-test="${item.logo=='white'}">
          <div class="hero__mask text--subtitle" data-mask="dark">
            <img class="mask__logo"
              src="/apps/ucs-exercise-heritier/clientlibs/clientlib-base/images/Logo_white.svg" alt="logo__mask" />
          </div>
        </sly>
          <div class="hero container">
            <div class="hero__info">
              <p class="hero__title text--headline">
                ${item.headerText_article}
              </p>
              <div class="hero__lables">
                <span class="hero__lable text--labelBg bg--lipstick">${item.category}</span>
                <div class="hero__hashtags hashTags">
                  <sly data-sly-list.tag="${item.tags}">
                    <div class="hero__hashtag hashTag">
                      #${tag}
                    </div>
                  </sly>
                  
                  <div class="more-hashtag">
                    <span class="oval"></span>
                    <span class="oval"></span>
                    <span class="oval"></span>
                  </div>
                </div>
              </div>

              <p class="hero__date text--subtitle">
                ${'EEEE d MMM y' @ format=item.date, timezone='UTC',
                locale='en_US', i18n}
              </p>
              <p class="hero__desc text--body">
               ${item.description_article}
              </p>
              <a target="${item.target}" class="hero__button button button--bg" href="${item.buttonLink}.html">
                ${item.buttonText_article}
              </a>
            </div>
          </div>
        </div>
      


        <!-- TYPE 3 -->
        <div data-sly-test="${item.desktopImagePath && item.mobileImagePath && item.title && item.type=='involve'}" class="heroBanner__slide heroBanner__slide--type3 gradient gradient--type-three swiper-slide"
        data-bg="${item.desktopImagePath}" data-bg-mobile="${item.mobileImagePath}">
        <!-- ##############  logo mask    -->
        <sly data-sly-test="${item.logo=='black'}">
          <div class="hero__mask text--subtitle" data-mask="light">
            <img class="mask__logo"
              src="/apps/ucs-exercise-heritier/clientlibs/clientlib-base/images/Logo_Black.svg" alt="logo__mask" />
          </div>
        </sly>

        <sly data-sly-test="${item.logo=='white'}">
          <div class="hero__mask text--subtitle" data-mask="dark">
            <img class="mask__logo"
              src="/apps/ucs-exercise-heritier/clientlibs/clientlib-base/images/Logo_white.svg" alt="logo__mask" />
          </div>
        </sly>
          <div class="hero container">
            <div class="hero__info">
              <p class="hero__title text--headline">${item.headerText_involve}</p>
              <p class="hero__subtitle text--paragraph-title">
                ${item.subheaderText_involve}
              </p>
              <p class="hero__desc text--body">
                ${item.description_involve}
              </p>
              <a class="hero__button button button--bg show-overlay"  href="#">
                ${item.buttonText_involve}
              </a>
            </div>
          </div>
        </div>

      </sly>



      </div>
      <div data-pagination data-hero-pagination class="heroBanner__pagination"></div>
      <div data-arrows class="heroBanner__arrows">
        <div data-prev-small class="icon-down"></div>
        <div data-number>
          <span class="current">1</span> / <span class="total">3</span>
        </div>
        <div data-next-small class="icon-down"></div>
      </div>
    </div>
    <div class="heroBanner__modal" id="muhire">
      <div class="modal">
        <div class="modal__info">
          <div class="modal__involved text--paragraph-title">
            <div class="icon icon-info"></div>
            Get involved
          </div>
          <p class="modal__title text--headline">Autumn photo campaign</p>
          <div class="modal__text text--body">
            <p>
              Our new photography campaign celebrates autumn, the season
              that marks the transition from summer to winter.
            </p>
            <p>
              Please send us your photos that capture your experience of
              Autumn. This could be images of the season’s warm colours or
              the unique traditions and special activities that represent
              the time of year in your city, country and culture.
            </p>
            <p>
              Please remember: if you are sending us a photograph of a
              person, please ask them to complete our UniCredit Release
              Form. You can download a copy from this
              <a href="#">link</a>.
            </p>
            <p>We look forward to receiving your photos!</p>
            <p>
              Please send your photo and caption to
              <a href="mailto:onebank@unicreditgroup.eu">onebank@unicreditgroup.eu</a>
            </p>
          </div>
        </div>
        <div class="modal__bg" data-bg="./components/heroBanner__welcome/img/hero_modal_desk.jpg"
          data-bg-mobile="./components/heroBanner__welcome/img/hero_modal_desk.jpg"></div>
      </div>
      <div class="modal__top-bar container">
        <img src="/apps/ucs-exercise-heritier/clientlibs/clientlib-base/images/logo_unicredit.svg" alt="logo" />
        <div class="icon icon-close modal__close"></div>
      </div>
    </div>
  </div>
</div>